.navbar {
  display: flex;
  background-color: rgba(0, 255, 255, 0.804);
  height: 100px;
  margin-bottom: 10px;

}

// ajouter un site button

#ajouter-un-site {
  position: absolute;
  z-index: 999;
  top: 4%;
  left: 84%;
  background-color: rgb(26, 255, 0);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30px;
  font-size: large;
}

#ajouter-un-site:hover {
  background-color: rgb(52, 203, 47);
}


#h1-siteshow {
  color: rgb(73, 72, 72);
  position: relative;

  left: 25%;
}
// titre h2 de la navbar dans sites new
#h2new-site {
  color: rgb(73, 72, 72);
  position: relative;
  left: 45%;
  top: 10%;
}
// h2 nombres de site sur site index
#h2index-site {
  color: rgb(72, 72, 72);
  position: relative;
  left: 43%;
  top: 10%;
}

#btn-retour {
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 2%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: blue;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-crawl {
  display: flex;
  background-color: rgb(0, 128, 255);
  border-radius: 6px;
  width: 5%;
  height: 38px;
  position: absolute;
  top: 4%;
   left: 88%;
   font-size: 1.5em;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.btn-crawl:hover {
  background-color: rgb(0, 93, 186);
}


.btn-sitemap {
    display: flex;
    background-color: rgb(0, 128, 255);
    border-radius: 6px;
    width: 5%;
    height: 38px;
    position: absolute;
    top: 4%;
    left: 93%;
    font-size: 0.9em;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 4px;

}

.btn-sitemap:hover {
  background-color: rgb(0, 93, 186);
}
