
#title-page {
  color: rgba(68, 68, 68, 0.825) !important;
}
.container-infos {
  position: relative;
  left: 33.3%;
  display: flex;
  flex-direction: inline-flex;
}

.erreur-detailler {
  position: absolute;
  padding-top: 3%;
  top: 20%;
  left: 50%;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}


.container-error {
  height: 150%;
  margin-top: 10px;
  display: flex;
  padding: 1rem;
  background-color: rgba(218, 218, 218, 0.919);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  text-align: left;
  align-items: center;
  justify-content: left;

 }

 .errors {
   margin-top: 20px;
   margin-left: 100px;
   padding: 10px;
   background-color: rgba(200, 200, 200, 0.925);
   border-radius: 8px;
  //  display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   width: 33.3%;

 }

 .erreur {
   color: red;
   font-weight: bold;
 }

 .pas-derreur {
   color: green;
 }
