

<strong id='labelname'>Nom du site</strong>
<strong id='labelurl'>Url</strong>

<div class="container-form-site">
  <%= simple_form_for @site, url: site_create_path do |f| %>
  <%= f.input :name, label: false %>
  <%= f.input :url, label: false %>
  <%= f.submit %>
  <% end %>
</div>
